<<<<<<< HEAD
.Profile{
  background-color: rgb(119, 32, 206);
  grid-area:profile;
}
.posts{
  color:#fff;
=======
.Profile{
  background-color: rgb(119, 32, 206);
  grid-area:profile;
}
.posts{
  color:#fff;
>>>>>>> 3b4b5dc4a0326bc1af5b2250e0341452747ba610
}