.newStylePost{
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}
.coment_container{
  width: 400px;
  display: flex;
  align-items: flex-end;
}
textarea{
  width: 290px;
  height: 180px;
}
button{
  height: 40px;
}
.myPostWrapper{
  padding: 20px;
}