.Aside { 
  width: 300px;
  min-height: 300px;
  padding: 20px;
 background-color:#c44; 
 grid-area:aside; 
 } 
.posts { 
 color: #fff; 
 }
 .links{
   color:inherit;
 }
 .active_link {
  color:goldenrod;
}
li + li {
  margin-top: 15px;
} 