.Aside { 
  width: 300px;
  min-height: 300px;
  padding: 20px;
  background-color:#c44; 
 } 
.posts { 
 color: #fff;
  
 }
 .links{
  cursor: pointer;
  color:inherit;
 }
 .activeLink {
  color:goldenrod;
}
li + li {
  
  margin-top: 15px;
}
li + a {
  cursor: pointer;
} 