.post_img{
  border-radius: 50%;
  max-width: 80px;
}
.likeCount{
  font-weight: 500;
  color: #fff;
  padding: 0 40px;
  position: relative;
}
.likeCount::before{
  content: '';
  position: absolute;
  background-image: url('https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678087-heart-64.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  top: -2px;
  left: 0;
}